<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
</head>
<body>
        <h1>Carrito de Compras</h1>
        <div class="details"></div>
        <div class="carts">
            <div class="carts_list">
                <ul class="carts_list_item" id="products-list"></ul>
            </div>
        </div>
       <a href="/">Volver al inicio</a>

</body>
</html>
<script src="/api/public/js/cart.js"></script>