<header>
    <h1>Inicio</h1>
</header>
<main>
    <section>
        <h3>NEW PRODUCTS ! ! ! </h3>
        <div class="products">
            <div class="products__list">
                <ul class="products__list__item" id="products-list"></ul>
            </div>
        </div>
    </section>
</main>
<script src="/api/public/js/products.js"></script>