<header>
    <h1 >Inicio</h1>
</header>
<main>
    <section>
        <h3 class="header-p">NEW PRODUCTS ! ! ! </h3>
        <div class="products">
            <p class="page-number"></p>
        <button id="boton-ascendente">asc</button>
        <button id="boton-descendente">des</button>
            <div class="products__list">
                <ul class="products__list__item" id="products-list"></ul>
            </div>
        </div>
        <div class="cart-space">
            <a href="/carritos/67623e3c27826dab333439b9"><button class="boton-ir-al-carrito">ir al carrito</button></a>
            <button class="boton-vaciar-carrito">vaciar carrito</button>
        </div>
        <div id="pagination">
            <button id="prev-page" disabled>Anterior</button>
            <button id="next-page">Siguiente</button>
        </div>
    </section>
</main>
<script  src="/api/public/js/products.js"></script>


